.current_run
.env
masters-thesis/
pymol-venv/
prev-work-venv/
prev-work/
tmp/
workflow/data/
debug/
*/docs/
workflow/img/
/workflow/mv/
/workflow/pq/
__pycache__/
.worktrees/
*.log
config.json
workflow/scripts/analyze_representatives/**/*
!workflow/scripts/analyze_representatives/*.py
workflow/scripts/alternative_conformations/**/*
!workflow/scripts/alternative_conformations/*.py
workflow/scripts/create_venv
workflow/scripts/pymol_debug
workflow/scripts/errored_glc/*.txt
workflow/scripts/mv/*.cif
workflow/playground/venv
workflow/playground/download
